
<h2>A <em>Hello, World!</em> Symfony application</h2>

<p>This is a Twig template. You can use tags to inject data into the template.</p>

<p>It's pretty much like Laravel's Blade... or any other templating engine.</p>

<p>It uses special tags (just like Hamlet, Pug, JSP Syntax, even JSX syntax to some extent).</p>

<h3> Twig Math: 2 + 2 = {{ 2 + 2 }} </h3>

<p>Current datetime: {{ "now" | date("H:i:s \O\n d/m/Y") }}</p>

<p>And just like Blade, Twig has a bunch of utils.</p>

