<?xml version='1.0'?>

<manifest
  xmlns:a='http://schemas.android.com/apk/res/android'
  package='com.edo9k.minimal'
  a:versionCode='0'
  a:versionName='0'>

  <application a:label='Android Hello-World'>
    <activity a:name='com.edo9k.minimal.MainAtivity'>
      <intent-filter>
        <category a:name='android.intent.category.LAUNCHER' />
        <action a:name='android.intent.action.MAIN' />
      </intent-filter>
    </activity>
  </application>
</manifest>

